{% extends 'MopaBootstrapBundle::base.html.twig' %}{#
{% use 'MopaBootstrapBundle::Navbar::navbar.html.twig' %}#}
{% block title %}Testy{% endblock %}
{% block headline %}oki {% endblock %}

{% block footer %} <a href="http://blesstest.com">Bless you</a> {% endblock %}
{#<html>
  <head>
    <title>
      {% block title %}
        Testy
      {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/ensjobeet/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('bundles/ensjobeet/images/favicon.ico') }}" />
  </head>
{#  <body>#}
{#    <div id="container">
      <div id="header">
        <div class="content">#}

{% block brand %}
        <a class="navbar-brand" href="#">Gieroj</a>
    {% endblock %}

         {% block navbar %}
             {{ mopa_bootstrap_menu('GierojTestyBundle:Builder:mainMenu') }}
{#                {{ mopa_bootstrap_menu('mainMenu', {'automenu': 'navbar'}) }}#}
           {% endblock %}

{#          <h1><a href="{{ path('testy') }}">
            <img src="{{ asset('bundles/ensjobeet/images/logo.jpg') }}" alt="Jobeet Job Board" />
          </a></h1>#}
 
{#          <div id="sub_header">
            <div class="post">
              <h2>Ask for people</h2>
              <div>#}
{#                <a href="{{ path('testy') }}">Post a Job</a>#}
 {#             </div>
            </div>
 
            <div class="search">
              <h2>Ask for a job</h2>
              <form action="" method="get">
                <input type="text" name="keywords" id="search_keywords" />
                <input type="submit" value="search" />
                <div class="help">
                  Enter some keywords (city, country, position, ...)
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
 
      <div id="content">
        {% if app.session.flashbag.get('notice') %}
          <div class="flash_notice">
            {{ app.session.flashbag.get('notice') }}
          </div>
        {% endif %}
 
        {% if app.session.flashbag.get('error') %}
          <div class="flash_error">
            {{ app.session.flashbag.get('error') }}
          </div>
        {% endif %}
 
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
      </div>
 
      <div id="footer">
        <div class="content">
          <span class="symfony">
            <img src="{{ asset('bundles/ensjobeet/images/jobeet-mini.png') }}" />
            powered by <a href="http://www.symfony.com/">
              <img src="{{ asset('bundles/ensjobeet/images/symfony.gif') }}" alt="symfony framework" />
            </a>
          </span>
          <ul>
            <li><a href="">About Jobeet</a></li>
            <li class="feed"><a href="">Full feed</a></li>
            <li><a href="">Jobeet API</a></li>
            <li class="last"><a href="">Affiliates</a></li>
          </ul>
        </div>
      </div>
    </div>#}
{#   </body>
</html>
#}