{% extends 'ENSJobeetBundle::layout.html.twig' %}
 
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/ensjobeet/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}
 
{% block content %}
    <div id="jobs">
      <table class="jobs">
        {% for entity in entities %}
          <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
            <td class="location">{{ entity.id }}</td>
            <td class="position">
              <a href="{{ path('testy_show', { 'id': entity.id }) }}">
                {{ entity.name }}
              </a>
            </td>
            <td class="company">{{ entity.tags }}</td>
          </tr>
            <a href="{{ path('testy_show', { 'id': entity.id, 'name': entity.name }) }}">
  {{ entity.name }}
</a>
        {% endfor %}
      </table>
     
    </div>
      
       
{% endblock %}