{% extends 'ENSJobeetBundle::layout.html.twig' %}
 
{% block title %}
    {{ entity.name }} is looking for a {{ entity.tags }}
{% endblock %}
 
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ensjobeet/css/job.css') }}" type="text/css" media="all" />
{% endblock %}
 
{% block content %}
    <div id="job">
      <h1>{{ entity.name }}</h1>
      <h2>{{ entity.id }}</h2>
      <h3>
        {{ entity.tags }}
        <small> - {{ entity.id }}</small>
      </h3>

 
      <div class="description">
        {{ entity.tags|nl2br }}
      </div>
 
      <h4>How to apply?</h4>
 
      <p class="how_to_apply">{{ entity.name}}</p>
 
      <div class="meta">
        <small>posted on {{ entity.timer|date('m/d/Y') }}</small>
      </div>
 
      <div style="padding: 20px 0">
        <a href="{{ path('testy_edit', { 'id': entity.id }) }}">
          Edit
        </a>
      </div>
    </div>
{% endblock %}