{% extends 'GierojTestyBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/gierojtesty/css/style.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content -%}
    <h1>TestyGrupa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ entity.nazwa }}</td>
            </tr>
            <tr>
                <th>Id_rodzica</th>
                <td>{{ entity.idrodzica }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('gieroj_testy_grupa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('gieroj_testy_grupa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
