{% extends 'GierojTestyBundle::layout.html.twig' %}
 
{#{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/gierojtesty/css/style.css') }}" type="text/css" media="all" />
{% endblock %}#}

{#{% extends '::base.html.twig' %}#}
  {% block menu %}
             {{ knp_menu_render('GierojTestyBundle:Builder:mainMenu') }}
{#                {{ mopa_bootstrap_menu('mainMenu', {'automenu': 'navbar'}) }}#}
           {% endblock %}
{% block content %}
    <h1>Testy lista</h1>

    <table class="table table-striped table-bordered">
{#        <thead>
            <tr>
                <th>Id</th>
                <th>Is_public</th>
                <th>Is_payed</th>
                <th>Re_try</th>
                <th>Previus</th>
                <th>Timer</th>
                <th>Name</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>#}
        <tbody>
        {% for entity in entities %}
            <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                <td class="col-md-1"><a href="{{ path('gieroj_testy_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td class="col-md-1">{{ entity.ispublic }}</td>
                <td class="col-md-1">{{ entity.ispayed }}</td>
                <td class="col-md-1">{{ entity.retry }}</td>
                <td class="col-md-1">{{ entity.previus }}</td>
                <td class="col-md-1">{% if entity.timer %}{{ entity.timer|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="col-md-1"><a href="{{ path('gieroj_testy_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td class="col-md-1">{{ entity.tags }}</td>
                <td class="col-md-1">
                <ul>
                    <li>
                        <a href="{{ path('gieroj_testy_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('gieroj_testy_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('gieroj_testy_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
