{% extends 'GierojTestyBundle::layout.html.twig' %}

{% block content -%}
    <h1>Testy</h1>

    <table class="record_properties container">
        <tbody>
            <tr class="col-md-1">
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr class="col-md-1">
                <th>Is_public</th>
                <td>{{ entity.ispublic }}</td>
            </tr>
            <tr class="col-md-1">
                <th>Is_payed</th>
                <td>{{ entity.ispayed }}</td>
            </tr>
            <tr class="col-md-1">
                <th>Re_try</th>
                <td>{{ entity.retry }}</td>
            </tr>
            <tr class="col-md-1">
                <th>Previus</th>
                <td>{{ entity.previus }}</td>
            </tr>
            <tr class="col-md-1">
                <th>Timer</th>
                <td>{{ entity.timer|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr class="col-md-1">
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr class="col-md-1">
                <th>Tags</th>
                <td>{{ entity.tags }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li class="col-md-1">
        <a href="{{ path('gieroj_testy') }}">
            Back to the list
        </a>
    </li>
    <li >
        <a href="{{ path('gieroj_testy_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
